.retiro {
    width: 100% !important;
    padding: 0 1rem;
    min-height: 100vh !important;
    background: url(../assets/img/bg-dark.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.retiro:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.1);
}
.retiro > div {
    position: relative;
}

.dinero-disponible {
    background-color: rgb(108, 17, 205, 0.4);
    padding: 2rem 0;
    color: white;
    border-radius: 50px;
    width: 100%;
}
.dinero-disponible h2 {
    text-shadow: 3px 3px 3px black !important;
}
.dinero-disponible h3 {
    text-shadow: 3px 3px 3px black !important;
}
.btn-retiro {
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
}
.btn-retiro button {
    min-width: 23%;
    background-color: #ec0b84;
    border-radius: 15px;
    font-size: 1.3rem;
    padding: 0.5rem 0;
    font-weight: 650;
    border: none;
}
.btn-retiro button:hover {
    background-color: #6c11cd;
    transition: 0.4s;
}
.billetera-retiro {
    margin: auto;
    display: flex;
    color: white;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: 30px;
    border-radius: 55px;
    width: 90%;
    background-color: #6c11cd;
}
.billetera-retiro p {
    margin-bottom: 0px !important;
}
.billetera-retiro h4 {
    font-weight: 700;
}

.retiro button:focus {
    background-color: #ec0b84;
    color: white;
    font-weight: 650;
    border: 2px solid #ec0b84;
}
@media (max-width: 800px) {
    .retiro {
        background: url(../assets/img/bg-dark-h.jpg);
    background-attachment: fixed;
    background-size: 100% auto;
    }
}
@media (max-width: 430px) {
    .retiro {
        background: url(../assets/img/bg-dark-h.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    .btn-retiro {
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
    .btn-retiro button {
        margin-bottom: 20px;
    }
    .billetera-retiro h4 {
        font-size: 1.2rem;
    }
    .billetera-retiro {
        padding: 0 1rem;
    }
    .billetera-retiro p {
        font-size: 0.9rem;
    }
}
@media (max-width: 325px) {
    .billetera-retiro p {
        font-size: 0.8rem;
    }
}