@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.SideBar {
  width: 15%;
  min-height: 100vh;
  padding-top: 100px;
  /* padding-bottom: 50px; */
  background: rgb(236, 11, 132);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(236, 11, 132, 1) 0%,
    rgba(108, 17, 205, 1) 100%
  );
}
.img-sideBar {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.SideBar ul {
  margin-top: 100px;
  padding: 0 0;
  list-style: none;
  text-align: center;
}

.SideBar a {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
@media (max-width: 800px) {
  
}
@media (max-width: 430px) {
.img-sideBar {
    display: none;
}
.SideBar {
    background: none;
    width: 0px;
}
.SideBar i {
    color: #ec0b84;
    font-size: 1.5rem;
    position: fixed;
    padding: 0 0;
    /* margin: 2rem 0; */
}
.bi-currency-dollar {
  top: 10px;
  left: 25px;
  z-index: 10000;
}
.bi-download {
  top: 10px;
  left: 75px;
  z-index: 10000;
}
.bi-bullseye {
  top: 10px;
  left: 125px;
  z-index: 10000;
}
.bi-chat-dots {
  top: 10px;
  left: 175px;
  z-index: 10000;
}
}